td {
    padding-left: 100px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    padding-top: 10px;
    
}


td:first-child {
    font-weight: bold;
}   
table {
    margin: auto;
}
#felso {
    background-color: #f3953e;
    width: 70%;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 30px;
    margin: auto;
}

#bevitelcm {
    width: 100px;
    margin-left: 100px;
}
#bevitelkg {
    width: 100px;
    margin-left: 100px;

}
#szamitas {
    margin: 15px;
    background-color: white;
    color: #f3953e;
    border: none;
    font-weight: bold;
    
}
#felso p {
    color: white;
}
h4 {
    color: #f3953e;
    font-weight: bold;
}